
@media only screen and (min-width: 1001px) {
  .inner-content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 50px;
    letter-spacing: 8px;
  }

  .subtitle {
    font-size: 25px;
    letter-spacing: 5px;
  }

  .featured h3 {
    font-size: 40px;
    letter-spacing: 3px;
  }

  .featured-item h2 {
    font-size: 20px;
    letter-spacing: 3px;
  }

  .featured-item h5 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .inner-content {
    width: 100%;
  }

  .title {
    font-size: 5vw;
    letter-spacing: .8vw;
  }

  .subtitle {
    font-size: 2.5vw;
    letter-spacing: .5vw;
  }

  .featured-item h5 {
    font-size: 1vw;
    font-weight: 700;
  }

  .featured-item h2 {
    font-size: 2vw;
    letter-spacing: 3px;
  }

  .featured h3 {
    font-size:4vw;
    letter-spacing: 3px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.inner-content {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 15%;
  text-align: center;
  margin: auto;
}

.left-container img {
  width: 90%;
  vertical-align: middle;
}

.right-container {
  width: 80%;
  text-align: right;
  margin-right: 3%;
  color: #2d3c49;
  text-transform: uppercase;
}

.title {
  font-weight: 100;
}

.subtitle {
  font-weight: 600;
}

hr {
  background-color: #7d97ad;
  height: 3px;
  margin: 1%;
}

.main {
  width: 100%;
  text-align:center;
}

.main img {
  width: 96%;
  margin: auto;
}

.featured {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.featured h3 {
  height: 10%;
  width: 100%;
  color: #7d97ad;
  font-weight: 700;
}

.featured-items {
  height: 90%;
  width: 100%;
  display: flex;
  /*justify-content: space-evenly;*/
}

.featured-item {
  width: 32%;
  text-align: center;
}

.featured-item img {
  width: 70%;
  margin: auto;
  vertical-align: bottom;
}

.featured-item h2 {
  text-transform: uppercase;
  vertical-align: top;
  font-weight: 700;
}

.featured-item h5 {
  text-transform: uppercase;
  vertical-align: top;
  font-weight: 700;
}
